<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Local Wiki</title>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
